<!DOCTYPE html>
<html>
<head>

     <title>Chronic Kidney Disease prediction</title>
<style>
   .form-box{
    width:380px;
    height:480px;
    position:relative;
    margin: 6%  auto;
    background:#ffb6c1;
    padding:5 px;
    overflow: hidden;
    border-style: solid;
    border-color: white;
}
</style>
</head>
<body id="top" style="background-color:lightblue">
<form action="{{url_for('predict')}}" method="POST">
        <h1 align="center" style="color:#ff6006"> CHRONIC KIDNEY DISEASE PREDICTION</h1>
        <h3  align="center" style="color:orange"> "Good Health is the Greatest Wealth"</h3>
 <section >
               <div class="form-box">
                         <form id="appointment-form" role="form" method="post" action="#">

                              <div>
                                   <div class="col-md-6 col-sm-6">
                                        <label for="name">Blood Urea</label>
                                        <input type="number" class="form-control" id="name" name="blood_urea" placeholder="Blood Urea Level">
                                   </div></br>


                                   <div class="col-md-6 col-sm-6">
                                        <label for="name">Blood Glucose Random</label>
                                        <input type="number" class="form-control" id="name1" name="blood_glucose_random" placeholder="Blood Glucose Level Random">
                                   </div></br>

                                   <div class="col-md-6 col-sm-6">
                                        <label for="select">Select Anemia</label>
                                        <select name = "Anemia">
                                             <option value = "yes"> yes</option>
                                             <option value = "no">no </option>
                                        </select>
                                   </div></br>
                                   <div class="col-md-6 col-sm-6">
                                        <label for="select">Select Coronary Artery Disease</label>
                                        <select name = "coronary_artery_disease">
                                             <option value = "yes"> yes</option>
                                             <option value = "no">no </option>
                                        </select>
                                   </div></br>

                                   <div class="col-md-6 col-sm-6">
                                        <label for="select">Select Pus Cell</label>
                                        <select name = "pus_cell">
                                             <option value = "yes"> yes</option>
                                             <option value = "no">no </option>
                                        </select>
                                   </div></br>

                                   <div class="col-md-6 col-sm-6">
                                        <label for="select">Select Red Blood Cell</label>
                                        <select name = "red_blood_cell">
                                             <option value = "yes"> yes</option>
                                             <option value = "no">no </option>
                                        </select>
                                   </div></br>

				 <div class="col-md-6 col-sm-6">
                                        <label for="select">Select Diabetics Mellitus</label>
                                        <select name = "diabetics_mellitus">
                                             <option value = "yes"> yes</option>
                                             <option value = "no">no </option>
                                        </select>
                                   </div></br>

                                   <div class="col-md-6 col-sm-6">
                                        <label for="select">Select Pedal Edema</label>
                                        <select name = "pedal_edema">
                                             <option value = "yes"> yes</option>
                                             <option value = "no">no </option>
                                        </select>
                                   </div></br>
                                   <div class="col-md-12 col-sm-12">
                                        <button type="submit" class="form-control" id="cf-submit" name="submit">predict</button>

                                   </div>
                              </div>
 				</form>

          </div>
     </section>

  </body>
</html>