<html lang="en">
<head>

     <title>Chronic Kidney Disease prediction</title>

    <style>
       .button-box
{
    width:100px;
    margin:35px auto;
    position:relative;

    border-radius:30px;
}
.hero{

    height:100%;
    width:100%;
    color: blue
    background-position:center;
    background-size:cover;
    position:absolute;
}
#btn
     top:0;
     left:0;
     position:absolute;
     width:110px;
     height:100%;
}

    </style>

</head>
<body style="background-color:lightblue">
    <div class="hero">
     <form action="{{url_for('prediction')}}" method="POST">

      <!-- src='C:\Users\Dell\OneDrive\pythonProject\AnuNew\templates\images\img.png' width="400" height="200" alt="img.png"-->
        <h1 align="center" style="color:#ff6006"> CHRONIC KIDNEY DISEASE PREDICTION</h1>
        <h3  align="center" style="color:orange"> "Good Health is the Greatest Wealth"</h3>
         <div class="button-box">
        <button type="submit" class="button-box" id="btn" name="submit">Prediction</button>

             <!--<img id="test" src="images\slider5.jpeg" width="1400" height="650" alt="No image" />-->
         </div>
     </form>
    </div>
      </body>
</html>